/* Provide sufficient contrast against white background */
a {
    color: #036f7f;
}

code {
    color: #E01A76;
}

.card-text {
    margin: 0;
    font-size: 16px;
}

.btn-card {
    margin-top: 20px;
}

.card {
    display: inline-block;
    width: 60vh;
    margin-left: 20px;
    margin-top: 20px;
}

.btn-card-deletebtn {
    float: right;
}

.card card-clicked {
    display: inline-block;
    width: 60vh;
    margin-left: 20px;
    margin-top: 20px;
    background-color: azure;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.button-wrapper {
    display: none;
}

    .button-wrapper card-clicked {
    }

.lowerButtons {
    margin-top: 60vh;
    width: 250px;
}

.sectionWrapper {
    float: left;
    height: 90vh;
    width: 90%;
    margin-left: 10vh;
}

    .sectionWrapper.is-nav-open {
        float: left;
        height: 90vh;
        width: 90%;
    }

.recharts-responsive-container {
    margin-right: 90px;
}

.counter-card-header {
    text-align: center;
    padding: 0;
}

.counter-card-body {
    text-align: center;
}

.datepicker-button {
    margin-top: 25px;
}

.matches-minidashboard-section {
    display: flex;
    margin-left: 25px;
    margin-top: 5px;
    padding-left: 30%;
    padding-right: 30%;
}

.counter-card-wrapper {
    margin-top: 25px;
}

.counter-card {
    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
}

.react-datepicker-wrapper {
    width: 190px;
}

.mini-dashboard-container {
    display: flex;
    margin-left: 20px;
}

.card-header {
    font-size: 14px;
}

.datepickers-container {
    width: 100px;
}

.datepicker-with-label {
    margin-top: 3vh;
    float: left;
}

.card-date {
    font-size: 14px;
    margin-left: 40vh;
    margin-top: 3vh;
}

.recharts-wrapper {
    margin-top: 20px;
}

.tab-content {
    height: 90vh;
    transition: 0.5s;
    margin-left: 30vh;
}

.wrapper {
    display: flex;
    width: 95%;
    transition: margin .5s;
    margin: 0 0 0 -220px;
}

    .wrapper.is-nav-open {
        margin-left: 0;
    }

.btn-white-text {
    color: white;
}

a:not([href]):not([tabindex]) {
    color: white;
}

a {
    color: #0060B6;
    text-decoration: none;
}

    a:hover {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }

.nav {
    position: relative;
    width: 250px;
    height: 100%;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.cards-container {
    margin-left: 0vh;
    width: 188vh;
    transition: 0.5s;
}

    .cards-container.is-nav-open {
        margin-left: 15vh;
        width: 140vh;
        transition: 0.5s;
    }

.nav__icon {
    position: absolute;
    top: 0;
    right: -60px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s;
}

    .nav__icon:hover {
        color: #5eb2ff;
    }

.nav-pills .nav-link.active {
    width: 190px;
    background-color: #17a2b8;
}

.nav {
    padding: 0;
}
